body {
  width: 900px;
  margin: 0 auto;
}

.hunger-container  {
    position: relative;
    width: 20pt;
    height: 100pt;
    border: 1px solid black;
    float: right;
}

.hunger-bar {
    position: absolute;
    background: red;
    width: 100%;
    height: 0;
    bottom: 0;
}
