#status-bar {
  width: 15%;
  height: 100%;
  float: left;
}

#map {
  font-family: monospace;
  cursor: none;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#map .grass {
  color: green;
}

#map .water {
  color: blue;
}

#map .beach {
  color: orange;
}

#map .selected {
  background: gray;
  color: white;
}

#oyster {
  float: right;
}

#oyster #title {
  text-align: center;
  width: 100%;
}

#anim-frame {
  text-align: center;
  width: 100%;
}
